<div class="carousel-container">
  <ngb-carousel>
    <ng-template ngbSlide>
      <img src="assets/carousel_1.jpg" alt="First slide" class="home-slider" />
      <div class="carousel-caption">
        <h3>First Slide</h3>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <img src="assets/carousel_2.jpg" alt="Second slide" class="home-slider" />
      <div class="carousel-caption">
        <h3>Second Slide</h3>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <img src="assets/carousel_3.jpg" alt="Third slide" class="home-slider" />
      <div class="carousel-caption">
        <h3>Third Slide</h3>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<div class="products-container">
 <app-products #productsComp></app-products>
</div>
