<section id="home">
  <ngb-carousel *ngIf="slides?.length" [interval]="3000" [wrap]="true">
    <ng-template ngbSlide *ngFor="let slide of slides; let i = index" id="slide-{{i}}">
      <img [src]="slide.image" [alt]="slide.title" class="d-block w-100">
      <div class="carousel-caption">
        <h3>{{ slide.title }}</h3>
      </div>
    </ng-template>
  </ngb-carousel>
</section>

<section id="about">
  <app-about></app-about>
</section>

<section id="products">
  <app-products></app-products>
</section>

<section id="inquire">
  <app-inquire></app-inquire>
</section>

<section id="footer">
  <app-footer></app-footer>
</section>
