.main-content {
  top: 0;
  padding: 14px 28px;
  background: 
    linear-gradient(rgba(23, 58, 134, 0.7), rgba(23, 58, 134, 0.7)), 
    url('/assets/bg.jpg');
  background-size: cover;   
  background-position: center;
  background-repeat: no-repeat;

  box-sizing: border-box;
  border-radius: 4px;
  color: #fff;
}
